.test-div {background-color: blue; padding: 10px; margin: 10px}
.test-div2 {background-color: aqua; padding: 10; margin: 10px}
.special{color: navy; text-align: center; text-decoration: underline}
.my-flex{display: flex;}