body {background-image: url(gradient1.jpg); background-position: top-center; background-repeat: repeat-y; background-size: 100%}
h1 {color: white}
#main {display: flex; gap: 1%}
#main img {width: 50%;}
#top img {width: 50%;}
#top #flipped {width: 50%; transform: scaleX(-1)}
#top h2 {color: white; text-align: center}